name: Clang-Format

on:
  pull_request:
    paths:
      - src/**/*.c
      - src/**/*.h
      - tests/**/*.c*
      - tests/**/*.h*

jobs:
  clang_format:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
        with:
          - ref: ${{ github.event.pull_request.head.sha }}
      - run: |
          find src tests '(' -name '*.c' -or -name '*.h' -or -name '*.cpp' -or -name '*.hpp' ')' -exec clang-format -i '{}' ';'
      - run: git diff --exit-code
